version: '3.9'

services:
  backend:
    build: ./backend
    container_name: express-backend
    ports:
      - 8081:8081
    restart: unless-stopped
  
  frontend:
    build: ./frontend
    container_name: react-frontend
    depends_on:
      - backend
    restart: unless-stopped

  caddy:
    image: caddy:2
    restart: unless-stopped
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./current:/usr/share/caddy
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config: